# Conexión principal
DB_URL=jdbc:mysql://mysql-298b0850-dtubarrio-975a.b.aivencloud.com:10258/defaultdb?ssl-mode=REQUIRED
DB_USER=avnadmin
DB_PASSWORD=AVNS_2x5tsPhvX7ZLY5dDp_U

# Seguridad (Es bueno tenerlo aquí también)
APP_JWT_SECRET=DetuBarrioSecretKeyMuySegura2026
APP_JWT_EXPIRATION=86400

# Contacto
CONTACT_ADMIN_EMAIL=tu-email@ejemplo.com